<html>
    
      <head><title>Login_User</title></head>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" href="css/style.css">
          <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
          <link href="{{url_for('static', filename='css/login-register.css')}}" rel="stylesheet">



<title>Sign in</title>
</head>
 <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin" method="POST">
                  <div class="form-label-group">
                    <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email address</label>
                  </div>
    
                  <div class="form-label-group">
                    <input type="password" id="inputPassword"  name='password'class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                  </div>
    
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<style>


  </style>
    </body>





</body>
</html>