<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Tasks</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item"> <a href="{{ url_for('About') }}" class="nav-link">About</a></li>
            <li class="nav-item"> <a href="{{ url_for('add') }}" class="nav-link">Add Task</a></li>
            <li class="nav-item"> <a href="{{ url_for('Job') }}" class="nav-link">My Tasks</a></li>
            <li class="nav-item"> <a href="http://localhost:5000/dropsession" class="nav-link">Logout</a></li>
            <li class="nav-item"> <p class="nav-link">Welcome &nbsp;{{user}}</p></li>


            

        </ul>
      </nav>
     
 